<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProjectId" value="copper-imprint-246119" />
		<add key="Dataset" value="WallMart" />
		<add key="Test_Walmart_Buybox_notificationTable" value="Test_Walmart_Buybox_notification" />
		<add key="LogName" value="TestWalmartBuybox" />
		<add key="WalmartBuyboxTestQueue" value="walmart-buybox-test"/>
		<add key="ServiceUrl" value="https://testwalmartbuybox-l2xymbxhra-uc.a.run.app"/>
		<add key="Location" value="us-central1"/>
		
	</appSettings>
</configuration>